/****************************************
INDEX---------首页样式    2017.5.5 ljh
****************************************/
div,ul{
	overflow: visible;
}

.index_box3 ul{
	width: 100%;
	margin: 0;
}

.index_box3 .content ul li{
	width: 50%;
	margin-top: 10px;
}

.index_box3 .content ul li img{
	width: 65px;
}

#slider {
	height: 410px;
}

#slider li{
	height: auto;
	margin-top:-190px
}

#slider li img{
	width: 60%;
}

